.profile {
  width: 600px;
  text-align: center;

  &__avatar {


  }

  &__name {
    font-size: 16px;
    padding-bottom: 20px;
    color: var(--text-color);
  }

  &__field {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-color);
    font-size: 13px;

    &-noBorder {
      border-bottom: none;
  }

    &__name {
      font-weight: bold;
      color: var(--text-color);
    }
    &__value {
      color: var(--text-second-color);
    }

    &__label {
      font-weight: bold;
      color: var(--text-color);
      margin: 15px;
    }
    &__input {
      flex: 1;
      border: none;
      color: var(--text-second-color);
      text-align: right;
      margin: 15px;
      &:focus-visible {
        border: none;
        outline: none;
      }
    }
  }
}
